{% extends "base.html" %}

{% block content %}

<p style="text-align:center;">Hello, user</p>

<!-- We can replace with buttons and javascript -->
<form action = "/word" method = "POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="secretId">Secret</label>
        <input type="text" class="form-control" id="secretId" name="secretWord" aria-describedby="secretHelp" placeholder="Secret Word" required>
        <small id="secretHelp" class="form-text text-muted">Secret word</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}